In [2]:
import pandas as pd
# Load the data into a pandas datafrme
data = pd . read_csv ( "/content/drive/MyDrive/Colab Notebooks/NLP_Specialization/Data/sample_csv.csv" )
# print column names
print ( data . columns )
# print data
print ( data )

Index(['row', ' name', ' age'], dtype='object')
   row       name   age
0    1        Kim    23
1    2       Lowe    45
2    3   Beatrice    55